<ion-footer>
    <ion-item>
  <ion-tabs>
    <ion-tab-bar slot="home">
      <ion-tab-button routerLink="/home">
        <ion-icon name="logo-bitcoin"></ion-icon>
        <ion-label>Bitcoin</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/litecoin">
        <ion-img src="assets/image/Litecoin.png" style="width: 20px;"></ion-img>
        <ion-label>Litecoin</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/ethereum">
        <ion-img src="assets/image/etherum.png" style="width: 40px;"></ion-img>
        <ion-label>Ethereum</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/xrp">
        <ion-img src="assets/image/xpr.png" style="width: 20px;"></ion-img>
        <ion-label>XRP</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
    </ion-item>
  </ion-footer>
